#titulo-page-sobre {
    color: black;
    font-size: 3em;
    margin-bottom: 5px;
}

#div-textos-sobre {
    text-align: justify;
}

#sobre {
    padding: 200px;
    height: 100%;
}

@media only screen and (max-width: 1110px) {
    #sobre {
        padding: 60px;
    }

    #titulo-page-sobre {
        color: black;
        font-size: 3em;
        margin-bottom: 15px;
        text-align: center;
    }
}