#container-tecnologias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card-tecnologia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px;
    margin: 10px;
    color: #343838;
}

.card-tecnologia:hover {
    background-color: #343838;
    color: white;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 4px 4px 4px #9c9c9c;
    border-radius: 5px;
}

.card-tecnologia > i {
    font-size: 7em;
}

#tecnologias {
    padding: 175px;
    height: 100%;
}

@media only screen and (max-width: 1110px) {
    #tecnologias {
        padding: 0px;
    }
}